@model LibraryManagementSystem.Models.HomeViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_unav.cshtml";
}

<div class="content-wrapper">
    <div class="container">
        <div class="row pad-botm">
            <div class="col-md-12">
                <h4 class="header-line">USER DASHBOARD</h4>

            </div>

        </div>

        <div class="row">



            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="alert alert-info back-widget-set text-center">
                    <i class="fa fa-bars fa-5x"></i>


                    
                    <h4>Book Issued</h4>

                </div>
            </div>


            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="alert alert-warning back-widget-set text-center">
                    <i class="fa fa-recycle fa-5x"></i>


                  
                    <h4>Times Books Returned</h4>
                </div>
            </div>
        </div>
    </div>
</div>


